@model ApprenticeshipTrainingViewModel
@{
    ViewData["Title"] = "Reservations - Apprenticeship training";
}

<h1 class="govuk-heading-xl">Apprenticeship training</h1>


<form method="post" action="@($"/{Model.RouteModel.Ukprn}/accounts/{Model.RouteModel.EmployerAccountId}/reservations/apprenticeship-training")">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-fieldset__heading">
                    When will the apprenticeship training start?
                </h2>
            </legend>
            <span id="choose-start-date-hint" class="govuk-hint">
                The apprenticeship training can start anytime in the month you choose or the following 2 months. For example if you select January, the apprenticeship training can start anytime from January to March.
            </span>
            <div class="govuk-radios">
                @foreach (var possibleStartDate in Model.PossibleStartDates)
                {
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="training-start-date-@possibleStartDate.Value" name="training-start-date" type="radio" value="@possibleStartDate.Value">
                        <label class="govuk-label govuk-radios__label" for="training-start-date-@possibleStartDate.Value">
                            @possibleStartDate.Label
                        </label>
                    </div>
                }
            </div>
        </fieldset>
    </div>
    <button type="submit" class="govuk-button">
        Save and continue
    </button>
</form>