@model ConfirmationViewModel
@{
    ViewData["Title"] = "Reservations";
}
<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        Apprenticeship funds reserved
    </h1>
    <p>start date: @Model.StartDate.ToString("MMMM yyyy")</p>
    <p>expiry date: @Model.ExpiryDate.ToString("MMMM yyyy")</p>
    
</div>

