@model ReviewViewModel
@{
    ViewData["Title"] = "Reservations";
}

<h1 class="govuk-heading-xl">Review page</h1>

<form method="post" asp-route="@Model.RouteName">
    <button type="submit" draggable="false" class="govuk-button">
        Confirm
    </button>
</form>