
@{
    ViewData["Title"] = "EmployerFundingPaused";
}

<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Government funding is currently paused</h1>
                <p class="govuk-body">There's currently no government funding available for apprentice training.</p>
                <p class="govuk-body">Any funding you've already secured in unaffected by this change.</p>
                <a href="#" class="govuk-button">Return to account</a>
            </div>
        </div>
    </main>
</div>
