@using SFA.DAS.Reservations.Web.Infrastructure

﻿@{
    ViewData["Title"] = "Reservations";
 }
<a asp-external-controller="teams" asp-external-subdomain="accounts" asp-external-folder="accounts"  asp-external-id="@ViewContext.RouteData.Values["employerAccountId"]" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Reserve funding for training an apprentice</h1>
            <p class="govuk-body">Apprenticeship funding can pay for part or all of the cost of training an apprentice - up to the funding band maximum. 
                <a href="https://www.gov.uk/guidance/apprenticeship-funding-rules" target="_blank" class="govuk-link">You may need to pay</a> up to a maximum of 5% of the total cost of the training and assessment.</p>
            <p class="govuk-body">To ensure apprenticeship funding is available for your apprenticeship training, you will need reserve funding.</p>
            <p class="govuk-body">The reservation can be no more than 6 months in advance of the apprentice’s planned apprenticeship training start date.</p>
            <h2 class="govuk-heading-m">What you'll need</h2>
            <p class="govuk-body">To reserve apprenticeship funding you will need:</p>
            
            <ul class="govuk-list govuk-list--bullet">
                <li>an estimate of which month the apprentice will start their apprenticeship training, which can be flexible up to 3 months</li>
                <li>the <a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/" target="_blank" class="govuk-link">apprenticeship training</a> the apprentice will take, which can be changed later</li>
            </ul>
            <a asp-route="@RouteNames.EmployerSelectLegalEntity" role="button" draggable="false" class="govuk-button govuk-button--start" tabindex="1">Start</a>

        </div>
    </div>
 </main>