@using SFA.DAS.Reservations.Web.Infrastructure

@model SFA.DAS.Reservations.Web.Models.EmployerStartViewModel

@{
    ViewData["Title"] = "Reserve funding to train and assess an apprentice";

    ViewBag.GaData.Vpv = "/accounts/reservations";
}

<a asp-route="@RouteNames.EmployerManage" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Reserve funding to train and assess an apprentice</h1>
            <p class="govuk-body">To reserve funding, you will need:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>the month you expect the apprenticeship training to start</li>
                <li>the <a href="@Model.FindApprenticeshipTrainingUrl" target="_blank" class="govuk-link">apprenticeship training course</a> the apprentice will take, which can be changed later</li>
            </ul>

            <div class="govuk-inset-text">
                <p>Reserving government funding for apprenticeship training and assessment is currently paused.</p>
                <p>You will be able to reserve apprenticeship funding for @Model.ActiveRuleActiveToDateText apprenticeship starts.</p>
                <p>Any funding you've already secured (transfers or reservations) is unaffected by this change.</p>
            </div>

            <a asp-route="@RouteNames.EmployerSelectLegalEntity" role="button" draggable="false" class="govuk-button" tabindex="1">Reserve funding</a>
        </div>
    </div>
</main>