@using SFA.DAS.Reservations.Web.Infrastructure
@{
    ViewData["Title"] = "Reservations";
}

<h1 class="govuk-heading-xl">Reserve funding for apprenticeship training</h1>
<p class="govuk-body-l">Check if apprenticeship funding is available for the date you want your apprentice to start and reserve this now to guarantee the funding will be available when you need it.</p>
<p class="govuk-body">You will need:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>a rough idea of when you expect the apprenticeship training to start</li>
    <li>what course it is likely to be</li>
    <li>what level the course is likely to be</li>
</ul>

<a asp-route="@RouteNames.EmployerApprenticeshipTraining" role="button" draggable="false" class="govuk-button govuk-button--start" tabindex="1">Start</a>

