
@{
    ViewData["Title"] = "ReservationLimitReached";
}
<a asp-external-controller="teams" asp-external-subdomain="accounts" asp-external-folder="accounts"  asp-external-id="@ViewContext.RouteData.Values["employerAccountId"]" tabindex="2" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Funding currently restricted to ten reservations</h1>
            <p class="govuk-body">You can reserve funding for another apprentice once the initial apprentice has started their training and we've made the first payment of funds to your apprenticeship training provider.</p>
            <a asp-external-controller="teams" asp-external-subdomain="accounts" asp-external-folder="accounts" asp-external-id="@ViewContext.RouteData.Values["employerAccountId"]"  tabindex="1" class="govuk-button">Return to account</a>
        </div>
    </div>
</main>