@using System.Text
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using SFA.DAS.Reservations.Web.Infrastructure
@model EmployerSelectCourseViewModel
@{
    ViewData["Title"] = "Reservations - Select Course";
}

@if (string.IsNullOrEmpty(Model.CohortReference))
{
    <a asp-route="@Model.BackLink" class="govuk-back-link">Back</a>
}
else
{
    <a href="@Model.BackLink" class="govuk-back-link">Back</a>
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="_pageErrorsOverview" />

            <h1 class="govuk-heading-xl">Which apprenticeship training will the apprentice take?</h1>

            <form method="post" asp-route="@Model.RouteName" class="validate-auto-complete">
                <input asp-for="CohortReference" type="hidden"/>
                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">


                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span id="Course" class="govuk-error-message">
                            Select a course from the list
                        </span>
                    }

                    <label class="govuk-label" for="course-search">
                        Search for a course
                    </label>
                    <span id="choose-apprenticeship-hint" class="govuk-hint">
                        This information can be changed later. If you want to find the correct training,
                        you can check <a class="govuk-link" target="_blank" href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/">Find apprenticeship training</a> or ask your training provider.
                    </span>
                    <partial name="_CourseSearch"/>
                </div>

                <button type="submit" class="govuk-button">
                    Save and continue
                </button>
            </form>
        </div>
    </div>
</main>