@model SelectCourseViewModel


<select id="course-search" name="SelectedCourseId" class="govuk-select" aria-describedby="choose-apprenticeship-hint" data-validation-message="Select which apprenticeship training your apprentice will take" data-validation-summary-message="Select which apprenticeship training your apprentice will take">
    <option value="">Search for an apprenticeship </option>
    @foreach (var course in Model.Courses)
    {
        <option value="@course.Id" selected="@course.Selected">@course.Description</option>
    }
</select>
