@model SelectCourseViewModel

@if (ViewData.ModelState.ContainsKey("SelectedCourseId") && ViewData.ModelState["SelectedCourseId"].Errors.Any())
{
<span id="Course" class="govuk-error-message">
    @ViewData.ModelState["SelectedCourseId"].Errors.First().ErrorMessage
</span>
}
<select id="SelectedCourseId" name="SelectedCourseId" class="govuk-select" aria-describedby="choose-apprenticeship-hint">
    <option value="">Search for an apprenticeship </option>
    @foreach (var course in Model.Courses)
    {
        <option value="@course.Id" selected="@course.Selected">@course.Description</option>
    }
</select>
