@model ApprenticeshipTrainingViewModel

<div>
    <select>
        @foreach (var course in Model.Courses)
        {
            <option>@course.Title - Level: @course.Level</option>
        }
    </select>
</div>