@using SFA.DAS.Reservations.Web.Infrastructure
@if (Configuration["AuthType"].Equals("provider", StringComparison.CurrentCultureIgnoreCase))
{
    <div class="das-account-header das-account-header--provider">
        <div class="govuk-width-container">
            <p class="das-account-header__title">Your provider account</p>
            <nav class="das-user-navigation" id="user-nav">
                <ul class="das-user-navigation__list" role="menu">
                    <li role="menuitem" class="das-user-navigation__list-item">
                        <a asp-external-controller="Account" class="das-user-navigation__link">Provider account</a>
                    </li>
                    <li role="menuitem" class="das-user-navigation__list-item">
                        <a asp-external-controller="NotificationSettings" class="das-user-navigation__link">Notification settings</a>
                    </li>
                    <li role="menuitem" class="das-user-navigation__list-item">
                        <a asp-route="@RouteNames.ProviderSignOut" class="das-user-navigation__link">Sign out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
}
else if (Configuration["AuthType"].Equals("employer",StringComparison.CurrentCultureIgnoreCase))
{
    <div class="das-account-header das-account-header--employer">
        <div class="govuk-width-container">
            
            <p class="das-account-header__title">Your employer account</p>
            <nav class="das-user-navigation" id="user-nav">
                <ul class="das-user-navigation__list" role="menu">
                    <li><a asp-external-controller="Service" asp-external-action="help" class="menu-main">Help</a></li>
                    <li class="has-sub-menu open">
                        <a href="/" role="menuitem" class="menu-main">Settings</a>
                        <ul role="menu" id="settings-menu" class="" aria-hidden="false">
                            <li><a asp-external-controller="Service" asp-external-action="accounts" role="menuitem" class="sub-menu-item">Your accounts</a></li>
                            <li><a asp-external-controller="Service" asp-external-action="rename" asp-external-id="@ViewContext.RouteData.Values["employerAccountId"]" role="menuitem" class="sub-menu-item">Rename account</a></li>
                            <li><a href="#" class="sub-menu-item">Change your password</a></li>
                            <li><a href="#" class="sub-menu-item">Change your email address</a></li>
                            <li><a asp-external-controller="settings" asp-external-action="notifications" role="menuitem"  class="sub-menu-item">Notification settings</a></li>

                        </ul>
                    </li>
                    <li role="menuitem" class="das-user-navigation__list-item">
                        <a asp-route="@RouteNames.EmployerSignOut" class="das-user-navigation__link">Sign out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
}