@model NonEoiHoldingViewModel

@{
    ViewData["Title"] = "Reservations";
}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Sorry, this functionality is unavailable</h1>
                <p class="govuk-body">You will be able to reserve apprenticeship funding at a later date.</p>
                <a href="@Model.HomeLink" role="button" tabindex="1" draggable="false" class="govuk-button">Return to homepage</a>
            </div>
        </div>
    </main>
</div>