@using SFA.DAS.Reservations.Web.Infrastructure
@model string
@{
    ViewData["Title"] = "Reservations";
}
@if (!string.IsNullOrEmpty(Model))
{
    <a href="@Model" class="govuk-back-link">Back</a>
}
else
{
    @if (Configuration["AuthType"].Equals("provider", StringComparison.CurrentCultureIgnoreCase))
    {
        <a asp-external-controller="Account" role="button" draggable="false" tabindex="1" class="govuk-back-link">Back</a>
    }
    else
    {
        <a asp-external-controller="teams" asp-external-subdomain="accounts" asp-external-folder="accounts" asp-external-id="@ViewContext.RouteData.Values["employerAccountId"]" role="button" tabindex="1" draggable="false" class="govuk-back-link">Back</a>
    }
}

@{
    ViewBag.GaData.Vpv = "/nopermissions";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You need permission to do this</h1>
            <p class="govuk-body">An employer needs to give you permission first before you can do this on their behalf.</p>
            
            @if (Configuration["AuthType"].Equals("provider", StringComparison.CurrentCultureIgnoreCase))
            {
                <a asp-external-controller="Account" role="button" draggable="false" tabindex="1" class="govuk-button">Go to homepage</a>
            }
            else
            {
                <a asp-external-controller="teams" asp-external-subdomain="accounts" asp-external-folder="accounts" asp-external-id="@ViewContext.RouteData.Values["employerAccountId"]" role="button" tabindex="1" draggable="false" class="govuk-button">Go to homepage</a>
            }
        </div>
    </div>
</main>