@model string

@{
    ViewData["Title"] = "Government funding is currently paused";

    ViewBag.GaData.Vpv = "/providerfundingpaused";
}

<a href="@Model" tabindex="2" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Government funding is currently paused</h1>
            <p class="govuk-body">There's currently a pause on government funding for non-levy employers taking on new apprentices.</p>
            <p class="govuk-body">You will continue to receive government funding for any apprenticeship training you currently have.</p>
            <a asp-external-controller="Account" role="button" draggable="false" tabindex="1" class="govuk-button">Return to account</a>
        </div>
    </div>
</main>
