@model ProviderStartViewModel
@{
    ViewData["Title"] = "Reserve funding for non-levy employers";

    ViewBag.GaData.Vpv = "/reservations/start";
    
    var ukPrn = (string)ViewContext.RouteData.Values["ukPrn"];
}

@if (Model.IsFromManage)
{
    <a id="back-link" class="govuk-back-link" href="@Url.RouteUrl(RouteNames.ProviderManage, new { ukPrn })">Back</a>
}
else
{
    <a asp-external-controller="Account" class="govuk-back-link">Back</a>
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Reserve funding for non-levy employers</h1>
            <p class="govuk-body">To reserve funds, you'll need:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>permission from the employer to reserve funding on their behalf</li>
                <li>the month you expect the training course to start</li>
                <li>the training course the learner will take</li>
            </ul>

            <partial name="_GlobalRuleInfo" model="@Model.ActiveGlobalRule" />

            <a asp-route="provider-choose-employer" asp-route-ukPrn="@ukPrn" role="button" draggable="false" class="govuk-button" tabindex="1">Reserve funding</a>
        </div>
    </div>
    </main>