@model string
@{
    ViewData["Title"] = "Reservations";

    var routeData = new Dictionary<string, string>
    {
        { "ukprn", @Model },
        { "employerAccountId", "JKXR9B"} //todo: this will eventually come from the employer selection page
    };
}

<h1 class="govuk-heading-xl">Get funding for non-levy employers</h1>
<p class="govuk-body-l">Use this service to secure government funding for a non-levy employer to train an apprentice. Government funding will pay for part or all of the cost of training an apprentice.</p>
<p class="govuk-body">Before you start you will need:</p>
<ul class="govuk-list govuk-list--bullet">
    <li><a href="#">permission</a> from a non-levy employer that you can secure funds for them</li>
    <li>an estimate of which month the apprenticeship training course will start, which can be flexible up to 3 months</li>
    <li>an idea of the <a href="#">apprenticeship training</a> the apprentice will take, which can be changed later</li>
</ul>
<form method="post" action="@($"/{routeData["ukprn"]}/accounts/{routeData["employerAccountId"]}/reservations/create")">
    <button type="submit" draggable="false" class="govuk-button govuk-button--start">
        Start
    </button>
</form>
<!-- todo: swap back to a href in next story (e.g. MF-71)
<a href="@($"/{routeData["ukprn"]}/accounts/{routeData["employerAccountId"]}/reservations/apprenticeship-training")" role="button" draggable="false" class="govuk-button govuk-button--start">
    Start
</a>
-->