@using SFA.DAS.Reservations.Web.Infrastructure
@model int
@{
    ViewData["Title"] = "Reservations";
}

<a asp-external-controller="Account" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Reserve funding for non-levy employers</h1>
            <p class="govuk-body">Use this service to reserve government funding for a non-levy employer to train an apprentice. You can reserve funding no more than 6 months in advance of the apprenticeship training start date.</p>
            <p class="govuk-body">Your employer must give you permission to reserve funding for them. To do this, the employer will need to sign in to their apprenticeship account and go to ‘training provider permissions’ on their dashboard.</p>
            <p class="govuk-body">Before you start you will need:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>an estimate of which month the apprentice will start the apprenticeship training, which can be flexible up to 3 months</li>
                <li>the apprenticeship training course the apprentice will take, which can be changed later</li>
            </ul>
            <p class="govuk-body">You will be reserving funding for one apprentice at a time.</p>

            <a asp-route="provider-choose-employer" role="button" draggable="false" class="govuk-button govuk-button--start" tabindex="1">Start</a>
        </div>
    </div>
</main>