@model int
@{
    ViewData["Title"] = "Reservations";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Get funding for non-levy employers</h1>
        <p class="govuk-body-l">Use this service to secure government funding for a non-levy employer to train an apprentice. Government funding will pay for part or all of the cost of training an apprentice.</p>
        <p class="govuk-body">Before you start you will need:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="#" class="govuk-link">permission from a non-levy employer</a> that you can secure funds for them</li>
            <li>an estimate of which month the apprenticeship training course will start, which can be flexible up to 3 months</li>
            <li>an idea of the <a href="#" class="govuk-link">apprenticeship training</a> the apprentice will take, which can be changed later</li>
        </ul>
        @{
            var routeData = new Dictionary<string, string>
            {
                {"employerAccountId","JKXR9B"}
            };
        }
        <a asp-route="provider-apprenticeship-training" asp-all-route-data="@routeData" role="button" draggable="false" class="govuk-button govuk-button--start">Start</a>
    </div>
</div>