@model Error403ViewModel
@{
    @if (Configuration["AuthType"].Equals("provider", StringComparison.CurrentCultureIgnoreCase))
    {
        ViewData["Title"] = "You do not have permission to access this page";
    }
    else
    {
        ViewData["Title"] = "Access denied";
    }
    ViewBag.GaData.Vpv = "/error/403";
}
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            @if (Configuration["AuthType"].Equals("provider", StringComparison.CurrentCultureIgnoreCase))
            {
                @if (Model.UseDfESignIn)
                {
                    <div class="hgroup">
                        <h1 class="govuk-heading-xl">
                            You need a different permission level to view this page
                        </h1>
                    </div>
                    <div class="inner">
                        <p>
                            To continue, you’ll need to get the permission level of your DfE Sign-in account changed.
                        </p>
                        <p>
                            The DfE Sign-in approver inside your organisation can do this for you. You can find out who your approver is under <a href="@Model.HelpPageLink" target="_blank" rel="noopener noreferrer">the organisation section of your DfE Sign-in account.</a>
                        </p>
                        <p>
                            If you came here by mistake, go back to the <a id="back-link" class="govuk-link govuk-link--no-visited-state" href="@Model.DashboardUrl" target="_parent">homepage of Manage apprenticeships for training providers.</a>
                        </p>
                    </div>
                }
                else
                {
                    <h1 class="govuk-heading-xl">
                        You do not have permission to access this page
                    </h1>
                    <p class="gov-body">
                        If you think you should have permission to access this page or want to confirm what permissions you have, contact an IdAMS super user.
                    </p>
                    <br>
                    <p class="gov-body govuk-!-margin-bottom-8">
                        <a asp-external-controller="">Go back to home page</a>
                    </p>    
                }
            }
            else
            {
                <h1 class="govuk-heading-xl">Access denied</h1>
                <p class="govuk-body">If you are experiencing difficulty accessing the area of the site you need, first contact an/the account owner to ensure you have the correct role assigned to your account.</p>
                <p class="govuk-body"><a asp-external-controller="service" asp-external-action="accounts">Go back to the service home page</a></p>
            }
        </div>
    </div>
</main>
