@{
    ViewBag.GaData.Vpv = "/error/403";
}
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Access denied</h1>


            @if (Configuration["AuthType"].Equals("provider", StringComparison.CurrentCultureIgnoreCase))
            {
                <p class="govuk-body">You don’t have permission to access the Apprenticeship Service.</p>
                <h2 class="govuk-heading-m">Help</h2>
                <p class="govuk-body">You can contact the Apprenticeship Service for advice or help on how to use the service.</p>
                <h3 class="govuk-heading-m">Apprenticeship Service</h3>
                <p class="govuk-body">Telephone: 0800 015 0600 <a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges</a></p>

            }
            else
            {
                <p class="govuk-body">If you are experiencing difficulty accessing the area of the site you need, first contact an/the account owner to ensure you have the correct role assigned to your account.</p>
                <p class="govuk-body"><a asp-external-controller="service" asp-external-action="accounts">Go back to the service home page</a></p>
                    
             }

            </div>
    </div>
</main>
